<!DOCTYPE html>
<html lang="en">
<head>
    <title>STRIP Medicine</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body>
    <!-- Form fields for Simple Open Auction -->
    <div id="create" class="tabcontent">
        <form method="POST" action="/createPills">
        <h2>PharmaCompany</h2>
        <div class="input-group">
            <h3>Manufacturer Address</h3>
            <input type="text" name="ManufacturerAddress" required placeholder="Manufacturer Address"/>
        </div>
        <br>
        <div class="input-group">
            <input type="submit" value="Create Pill"/>
        </div>
        </form>
        <h1 class="text message">Status:&nbsp;<span id="creation">{{ creationStatus }}</span></h1>
    </div>

    <hr>
    <!-- Form fields for checking address balance -->
    <div id="bids" class="tabcontent">
        <h2>Check highest Bidder & Bid</h2>
        <div class="input-group">
            <form method="POST" action="/highestbidder">
            <button class="btn" id="button-hbidder">Check highest bidder</button>
            </form>
        </div><br>
        <div class="input-group">
            <form method="POST" action="/highestbid">
            <button class="btn" id="button-hbid">Check highest bid</button>
            </form>
        </div>
    </div>
    <h1 class="text message">Highest Bidder:&nbsp;<span id="msghbidder">{{ highest_bidder }}</span></h1>
    <h1 class="text message">Highest Bid:&nbsp;<span id="msghbid">{{ highest_bid }}</span></h1>
<hr>
    <div method="GET" class='reset'>
      <form action="/">
      <button class="reset_btn" type="submit" id="reset-hbid">Reset Page</button>
      </form>
    </div>
</body>
</html>
