<!DOCTYPE html>
<html lang="en">
<head>
    <title>STRIP Medicine</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
    <!-- Form fields for Simple Open Auction -->
    <div id="create" class="tabcontent">
        <div class="manufactureContainer">
          <div id="logo">
          </div>

        <form method="POST" action="/createPills">
        <h1>Pharma Company</h1>
        <div class="input-group">
            <h3>Manufacturer Address:</h3>
            <input type="text" name="ManufacturerAddress" required placeholder="Manufacturer Address"/>
        </div>
        <br>
        <div class="input-group">
            <input type="submit" id='PillBtn' value="Create Pill"/>
        </div>
        </form>
        <h3 class="text message">TransactionHash:&nbsp;<span id="creation">{{ TransactionHash }}</span></h3>
        <h3 class="text message">Status:&nbsp;<span id="creation">{{ creationStatus }}</span></h3>
    </div>
    </div>

    <hr>
    <!-- Form fields for checking address balance -->
    <div id="bids" class="tabcontent">
        <h1>Consuming Pills</h1>
        <div class="input-group">
            <form method="POST" action="/keccak256">
              <div class="input-group">
                  <h3>Personal Address</h3>
                  <input type="number" name="keccakNumber" required placeholder="keccak256 Secret"/>
              </div>
              <br>
            <button class="btn" id="button-hbidder">Check keccak256</button>
            </form>
        </div><br>
        <div class="input-group">
            <form method="POST" action="/consumePill">
            <input type="text" name="ConsumerAddress" required placeholder="ConsumerAddress"/><br>
<br>
            <input type="text" name="KeccakSecret" required placeholder="Secret"/>
<br>
            <div class="consumePillBtn">
                <button class="btn" id="button-hbid">consume Pill</button>
            </div>

            </form>
        </div>
    </div>
    <h3 class="text message">keccak256:&nbsp;<span id="msghbidder">{{ keccak256 }}</span></h3>
    <h3 class="text message">Status(Tx_Id):&nbsp;<span id="msghbid">{{ Status }}</span></h3>
<hr>
    <div method="GET" class='reset'>
      <form action="/">
      <button class="reset_btn" type="submit" id="reset-hbid">Reset Page</button>
      </form>
    </div>
</body>
</html>
